{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap-grid.css" %}">
    <link rel="stylesheet" href="{% static "articles/css/main.css" %}">
    <title>{% block title %}Django blog{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 d-flex align-items-center justify-content-center justify-content-md-start">
                    <h1 class="logo">
                        DJANGO BLOG
                    </h1>
                </div>
                <!-- /.col -->
                <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                    <ul class="social d-flex ml-md-auto">
                        <li class="social__icon">
                            <a href="#">
                                <img src="{% static "articles/images/icon/facebook.png" %}" alt="" class="icon">
                            </a>
                        </li>
                        <li class="social__icon">
                            <a href="#">
                                <img src="{% static "articles/images/icon/instagram.png" %}" alt="" class="icon">
                            </a>
                        </li>
                        <li class="social__icon">
                            <a href="#">
                                <img src="{% static "articles/images/icon/twitter.png" %}" alt="" class="icon">
                            </a>
                        </li>
                        <li class="social__icon">
                            <a href="#">
                                <img src="{% static "articles/images/icon/vkontakte.png" %}" alt="" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="row new-article">
                      {% block content %}{% endblock %}
                    </div>
                </div>
                <!-- Сайдабар -->
                <div class="col-12 col-md-4 sidebar">
                    <div class="block">
                        <!-- Лучшие авторы -->
                        <div class="row">
                            <div class="col-12">
                                <h1 class="sidebar-title">Лучшие авторы</h1>
                            </div>
                            <div class="col-12">
                                <!-- Здесь будет слайдер -->
                                <a href="#"><img class="author-img" src="{% static "articles/images/author.jpg" %}" alt=""></a>
                            </div>
                        </div>
                        <!-- Популярные статьи -->
                        <div class="row">
                            <div class="col-12">
                                <h1 class="sidebar-title">Популярные статьи</h1>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col d-flex">
                                        <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                                        <div class="article-top">
                                            <a href="#" class="link">
                                                <h1 class="article-title">Сегодня было нечто</h1>
                                            </a>
                                            <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                                        <div class="article-top">
                                            <a href="#" class="link">
                                                <h1 class="article-title">Сегодня было нечто</h1>
                                            </a>
                                            <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                                        <div class="article-top">
                                            <a href="#" class="link">
                                                <h1 class="article-title">Сегодня было нечто</h1>
                                            </a>
                                            <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Последние комментарии -->
                        <div class="row comments">
                            <div class="col-12">
                                <h1 class="sidebar-title">Последние комментарии</h1>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col d-flex">
                                        <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                                        <div class="article-top">
                                            <a href="#" class="link">
                                                <p class="article-title">Сегодня было нечто</p>
                                            </a>
                                            <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                                        <div class="article-top">
                                            <a href="#" class="link">
                                                <p class="article-title">Сегодня было нечто</p>
                                            </a>
                                            <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                                        <div class="article-top">
                                            <a href="#" class="link">
                                                <p class="article-title">Сегодня было нечто</p>
                                            </a>
                                            <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>