{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- * Новые статьи -->
    <div class="col-12 col-lg-6 article">

        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                    <div class="article-top">
                        <h1 class="article-title">Сегодня было нечто</h1>
                        <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        Захожу я в дверь и тут кто - то сидит и я не понимаю что прохожу я в
                        дверь и тут
                        кто - то сидит и я не понимаю что прохожу я в дверь и тут кто - то сидит
                        и я не
                        понимаю что прохожу я в дверь и тут кто - то сидит и я не понимаю что
                        прохожу я
                        в дверь и тут кто - то сидит и я не понимаю что прохожу я в дверь и тут
                        кто - то
                        сидит и я не понимаю...
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            <div class="row artcicle-bot">
                <div class="col">
                    <a href="#" class="link-read d-flex ml-auto">ЧИТАТЬ</a>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <!-- * ARTICLE -->
    <div class="col-12 col-lg-6 article">

        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                    <div class="article-top">
                        <h1 class="article-title">Сегодня было нечто</h1>
                        <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        Захожу я в дверь и тут кто - то сидит и я не понимаю что прохожу я в
                        дверь и тут
                        кто - то сидит и я не понимаю что прохожу я в дверь и тут кто - то сидит
                        и я не
                        понимаю что прохожу я в дверь и тут кто - то сидит и я не понимаю что
                        прохожу я
                        в дверь и тут кто - то сидит и я не понимаю что прохожу я в дверь и тут
                        кто - то
                        сидит и я не понимаю...
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            <div class="row artcicle-bot">
                <div class="col">
                    <a href="#" class="link-read d-flex ml-auto">ЧИТАТЬ</a>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <div class="col-12 col-lg-6 article">

        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                    <div class="article-top">
                        <h1 class="article-title">Сегодня было нечто</h1>
                        <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        Захожу я в дверь и тут кто - то сидит и я не понимаю что прохожу я в
                        дверь и тут
                        кто - то сидит и я не понимаю что прохожу я в дверь и тут кто - то сидит
                        и я не
                        понимаю что прохожу я в дверь и тут кто - то сидит и я не понимаю что
                        прохожу я
                        в дверь и тут кто - то сидит и я не понимаю что прохожу я в дверь и тут
                        кто - то
                        сидит и я не понимаю...
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            <div class="row artcicle-bot">
                <div class="col">
                    <a href="#" class="link-read d-flex ml-auto">ЧИТАТЬ</a>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <div class="col-12 col-lg-6 article">

        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                    <div class="article-top">
                        <h1 class="article-title">Сегодня было нечто</h1>
                        <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        Захожу я в дверь и тут кто - то сидит и я не понимаю что прохожу я в
                        дверь и тут
                        кто - то сидит и я не понимаю что прохожу я в дверь и тут кто - то сидит
                        и я не
                        понимаю что прохожу я в дверь и тут кто - то сидит и я не понимаю что
                        прохожу я
                        в дверь и тут кто - то сидит и я не понимаю что прохожу я в дверь и тут
                        кто - то
                        сидит и я не понимаю...
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            <div class="row artcicle-bot">
                <div class="col">
                    <a href="#" class="link-read d-flex ml-auto">ЧИТАТЬ</a>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <div class="col-12 col-lg-6 article">

        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                    <div class="article-top">
                        <h1 class="article-title">Сегодня было нечто</h1>
                        <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        Захожу я в дверь и тут кто - то сидит и я не понимаю что прохожу я в
                        дверь и тут
                        кто - то сидит и я не понимаю что прохожу я в дверь и тут кто - то сидит
                        и я не
                        понимаю что прохожу я в дверь и тут кто - то сидит и я не понимаю что
                        прохожу я
                        в дверь и тут кто - то сидит и я не понимаю что прохожу я в дверь и тут
                        кто - то
                        сидит и я не понимаю...
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            <div class="row artcicle-bot">
                <div class="col">
                    <a href="#" class="link-read d-flex ml-auto">ЧИТАТЬ</a>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <div class="col-12 col-lg-6 article">

        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">

                    <div class="article-top">
                        <h1 class="article-title">Сегодня было нечто</h1>
                        <a href="#" class="author-link"><strong class="author">Автор</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        Захожу я в дверь и тут кто - то сидит и я не понимаю что прохожу я в
                        дверь и тут
                        кто - то сидит и я не понимаю что прохожу я в дверь и тут кто - то сидит
                        и я не
                        понимаю что прохожу я в дверь и тут кто - то сидит и я не понимаю что
                        прохожу я
                        в дверь и тут кто - то сидит и я не понимаю что прохожу я в дверь и тут
                        кто - то
                        сидит и я не понимаю...
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
            <div class="row artcicle-bot">
                <div class="col">
                    <a href="#" class="link-read d-flex ml-auto">ЧИТАТЬ</a>
                </div>
            </div>
        </div>
        <!-- /.col -->


    </div>
    <!-- * /ARTICLE -->
{% endblock %}