{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="col-12 article">
        <div class="col block">
            <div class="row head">
                <div class="col d-flex">
                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">
                    <div class="article-top">
                        <h1 class="article-title">{{ article.article_title }}</h1>
                        <a href="#" class="author-link"><strong class="author">...</strong></a>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-3">
                    <p class="signal d-flex justify-content-end">NEW</p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row arcicle-content">
                <div class="col-12 col-img">
                    <img class="article-img" src="{% static "articles/images/article.jpg" %}" alt="">
                </div>
                <!-- /.col-md-6 -->
                <div class="col-12">
                    <p class="article-text-min">
                        {{ article.article_text }}
                    </p>
                </div>
                <!-- /.col-md-6 -->
            </div>
        </div>
        <!-- /.col -->
    </div>
{% endblock %}
{% block comments %}
    <div class="row comment">
        <!-- * Комментарий -->
        {% if latest_comments_list %}
            {% for c in latest_comments_list %}
                <div class="col-12 d-flex block">

                    <img class="author-img" src="{% static "articles/images/author.jpg" %}" alt="">
                    <div class="article-top">
                        <a href="#" class="link">
                            <p class="article-title">{{ c.comment_text }}</p>
                        </a>
                        <a href="#" class="author-link"><strong class="author">{{ c.autthor_name }}</strong></a>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            Комментариев пока что нет. Станьте первым!
        {% endif %}
        <!-- * / Комментарий -->

        <!-- * форма  -->
        <div class="col-12 col-lg-6 block d-flex align-items-center justify-content-center">
            <form class="form" action="{% url 'articles:leave_comment' article.id %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label for="name">Имя</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="field">
                    <label for="comment">Комментарий</label>
                    <input type="text" name="comment" id="comment">
                </div>
                <button type="submit" class="submit d-flex ml-auto">ОТПРАВИТЬ</button>
            </form>
        </div>
        <!-- * / форма  -->
    </div>
{% endblock %}